<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
</head>
<body>
    <div>
        {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <p>Pas de compte ? <a href="{% url 'register' %}">Inscrivez-vous</a></p>
            <button type="submit">Connexion</button>
        </form>
    </div>
</body>
</html>