<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de Mot de Passe</title>
</head>
<body>
    <form method="post">
        <p>Entrer votre adresse email pour continuer..</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Réinitialiser le mot de passe</button>
    </form>
</body>
</html>
