{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>

    <h2>Profile de {{ object.username }}</h2>
    <p>vos informations :</p>

    <div>
        <p>Username : {{ object.username }}</p>
        <p>Email : {{ object.email }}</p>
    </div>

    <div>
        <h3>Vos badges :</h3>
        {% if user.badges.exists %}
            {% for badge in user.badges.all %}
                {% if badge.name == "Vétéran" %}
                    <li>{{  badge.name  }} - {{ badge.description }}</li>
                    <img src="{% static 'img/badge3.jpg' %}" alt="badge de veterant" width="50px" height="50px">
                {% elif badge.name == "Étoile Montante" %}
                    <li>{{  badge.name  }} - {{ badge.description }}</li>
                    <img src="{% static 'img/badge1.jpg' %}" alt="badge etoile Montante" width="50px" height="50px">
                {% elif badge.name == "Collectionneur" %}
                    <li>{{  badge.name  }} - {{ badge.description }}</li>
                    <img src="{% static 'img/badge2.jpg' %}" alt="badge collectionneur" width="50px" height="50px">
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Aucun badge attribué.</p>
        {% endif %}
    </div>

    <div>
        <a href="{% url 'password_change' %}">Changer votre mot de passe</a>
        <br><br>
        <a href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
    </div>
  
    <br><br>
    <a href="{% url 'home' %}">Retour a l'acceuil</a>

</body>
</html>